@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --font-family: 'Kanit', Arial, Helvetica, sans-serif; /* เพิ่มฟอนต์ Kanit */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* กำหนดสีพื้นหลังเป็นสีดำ */
    --foreground: #e0dede; /* กำหนดสีตัวอักษรเป็นสีขาวอมเทา */
  }
}

body {
 
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

.kanit-font {
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
}



